<div *screenBelowLarge class="title-bar-small">
  <span class="fa fa-bars" (click)="_menuService.toggleLeftSideMenu()"></span>
  <div class="small-image-holder">
      <img class="small-image" src="http://www.vansontech.com/images/vansontech_logo.png" alt="Vanson Tech Inc.">
  </div>
</div>

  <div *screenLarge class="title-bar user-title-bar" [ngStyle]="{ 'background-image': 'url(http://www.vansontech.com/images/banners/' + currentTitleImg + '.jpg)' }">
  <img src="http://www.vansontech.com/images/vansontech_logo.png" alt="Vanson Tech Inc.">
  <div class="menu-area">
    <app-menu *ngIf="_screenService.isLarge()"></app-menu>
  </div>
</div>