/*#headerBackground {
    width: -webkit-fill-available;
    background-image: url(http://www.vansontech.com/images/banners/lake_upper.jpg);
    text-align: left;
}
.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .app-background {
      background-color: white;
  }*/