<div>
  home works
  <!--<h1 class="col-md-12 sub_menu"></h1>
  <div id="page-content" class="col-md-12 home">
    <img style="position: absolute;top: -108px;left: -3px;" src="http://www.vansontech.com/images/db_silo_large.png"/>
    <div class="col-md-12">
      <div class="col-md-8 pull-right">
        <h2 style="font-size: 36px;color:#37630a">Harness the <em style="color:#52351b">power of data</em> with ease.</h2>
        <p>
          Vanson Technology specializes in database-powered web technology for processing 
          loyalty programs. From the travel industry, with airline and hotel clients,
          to the sports and entertainment industries, Vanson Technology provides valuable 
          solutions to positively impact bottom lines.
        </p>

      </div>
    </div>  
  </div>
<br clear="all"/>-->
</div>